* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    margin: 1rem auto;
    border: .2rem solid #ccc;
    width: 15rem;
    padding: .5rem;
    box-shadow: .5rem .5rem .3rem .3rem #ddd;
}

img {
    width: 100%;
}

button {
    width: 100%;
    border: none;
    background-color: blue;
    color: white;
}

#link {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}